{% extends "template.html.twig" %}
{% block content %}
    <table id = "user-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
    {% for item in personsArray %}
        <td><strong>{{ item.id }}</td><strong>
        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
        <td>{{ item.email }}</td>
        <td class = 'flex'>
        <button class="btn edit-button" type="submit" name="id" value="value" data-user-id={{ item.id }} data-user-first={{ item.first_name }} data-user-last={{ item.last_name }} data-user-email={{ item.email }}> Edit</button>
        <button class="btn delete-button" type="submit" name="id" value="value" data-user-id={{ item.id }}> Delete</button>
        </td>
        </tr>
    {% endfor %}
    <td class = "td-hide"> <button class="btn submit-button" type="submit"> Add</button>
    </tbody>
    </table>
{% endblock %}