<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <script src="jquery-3.4.1.min.js"></script>
            <script src="/scripts/script.js"></script>
            <link rel = "stylesheet" type = "text/css" href = "/stylesCSS/style.css" />
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; footer
            {% endblock %}
        </div>
    </body>
</html>