table {
  background: linear-gradient(rgb(207, 207, 207), rgb(156, 156, 156));
  border-collapse: separate;
  box-shadow: inset 0 1px 0 #fff;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 28px;
  margin: 80px auto;
  text-align: left;
  width: 1200px;
}   

th {
  background: linear-gradient(rgb(172, 154, 177), #444);
  border-left: 1px solid #555;
  border-right: 1px solid #777;
  border-top: 1px solid #555;
  border-bottom: 1px solid #333;
  box-shadow: inset 0 1px 0 #999;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  text-shadow: 0 1px 0 #000;  
}

.btn {
  position: relative;
  display: flex;
  background-color: #f1f1f1;
  color: black;
  font-size: 15px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
  margin-top: 5px;
}

.flex {
  display: flex;
}

td {
  border-right: 1px solid #fff;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
  position: relative;
  transition: all 300ms;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 300px;
  right: 800px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  box-shadow: 10px 10px 60px #555;
  top:50px;
  height: 600px;
}


/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 40px;
  background-color: white;
  opacity: 0.9;
  width: 80%;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #424242;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(141, 0, 0);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

